.my-work-page .description {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.25; }

.my-work-page .work-container {
  width: 75%;
  min-width: 1024px;
  height: calc(100vh - 255px);
  margin: 50px auto 0;
  overflow-y: auto;
  overflow-x: hidden; }
  .my-work-page .work-container .project-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 70px; }
    .my-work-page .work-container .project-wrapper .project-image {
      position: absolute;
      top: 0;
      width: 65%;
      max-width: 750px;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.3);
      border-radius: 6px; }
      .my-work-page .work-container .project-wrapper .project-image .project-info {
        position: absolute;
        top: 50%;
        width: 60%;
        padding: 25px;
        background-color: #fff;
        box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        .my-work-page .work-container .project-wrapper .project-image .project-info .title {
          margin: 0;
          font-size: 2.5rem;
          font-weight: 400; }
        .my-work-page .work-container .project-wrapper .project-image .project-info .year {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 1rem; }
    .my-work-page .work-container .project-wrapper.left-side .project-image {
      left: 0; }
      .my-work-page .work-container .project-wrapper.left-side .project-image .project-info {
        left: 80%; }
    .my-work-page .work-container .project-wrapper.right-side .project-image {
      right: 0; }
      .my-work-page .work-container .project-wrapper.right-side .project-image .project-info {
        right: 80%; }
