@import '../../assets/css/variables.scss';

.resume-page {
    .skills-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .skill {
            text-align: center;

            &:not(:last-child) {
                margin-right: 50px;
            }
            img {
                height: 60px;
            }
            p {
                margin: 8px 0 0;
            }
        }
    }
    .divider {
        display: block;
        width: 50%;
        margin: 75px auto;
        border: none;
        color: $white;
        height: 2px;
        background: $dark_gray;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from($dark_gray), to($white));
    }
    .experiences-container {
        position: relative;
        margin: 50px auto;
        height: 700px;

        .experience {
            position: absolute;
            border: 1px solid #8091ff;
            background-color: $white;
            @include transform(rotate(45deg));
            @include transition(
                top .5s ease 0s,
                left .5s ease 0s,
                width .5s ease .15s,
                height .5s ease .15s,
                transform .5s ease 0s,
                opacity .3s ease .5s
            );

            .details-container {
                position: relative;
                width: 100%;
                height: 100%;
                @include transition(all .5s ease .1s);
                @include transform(rotate(-45deg));
    
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    max-width: 250px;
                    max-height: 100px;
                    @include transform(translate(-50%, -50%));
                    @include transition(all .5s ease .1s);
                }
                .detailed-content {
                    position: absolute;
                    top: 125px;
                    left: 0;
                    padding-left: 20px;
                    padding-right: 20px;
                    opacity: 0;
                    pointer-events: none;
                    @include transition(opacity .1s ease 0s);

                    .intro {
                        display: flex;
                        justify-content: space-between;

                        p {
                            margin-bottom: 0;
                            font-weight: 700;

                            &.dates {
                                font-style: italic;
                            }
                        }
                    }
                    .synopsis {
                        text-align: justify;
                    }
                    .tech-applied {
                        line-height: 1.5;
                    }
                    .accomplishments {
                        margin-top: 20px;

                        ul {
                            margin-top: 5px;

                            li:not(:last-child) {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
            &[data-name="inhance"] {
                width: 275px;
                height: 275px;
                top: 68px;
                left: 393px;
            }
            &[data-name="accuagency"] {
                width: 260px;
                height: 260px;
                top: 408px;
                left: 454px;
            }
            &[data-name="cia"] {
                width: 220px;
                height: 220px;
                top: 198px;
                left: 965px;

                img {
                    max-height: 125px; 
                }
            }
            &[data-name="codespark"] {
                width: 250px;
                height: 250px;
                top: 278px;
                left: 225px;
            }
            &[data-name="freelancing"] {
                width: 200px;
                height: 200px;
                top: 250px;
                left: calc(50% - 100px);
            }
            &[data-name="harris"] {
                width: 225px;
                height: 225px;
                top: 75px;
                left: 761px;

                img {
                    top: calc(50% + 10px);
                }
            }
            &[data-name="roadtrip"] {
                width: 260px;
                height: 260px;
                top: 365px;
                left: 786px;
            }
            & + .experience-close {
                font-size: 6rem;
                color: $white;
                position: absolute;
                top: 20px;
                left: calc(50% + 375px);
                opacity: 0;
                pointer-events: none;
                @include transition(opacity .1s ease);
            }
            &.not-selected {
                opacity: 0;
                pointer-events: none;
                @include transition(opacity .1s ease 0s);
            }
            &.selected {
                top: 100px;
                left: 50%;
                width: 750px;
                height: 525px;
                @include transform(rotate(0) translateX(-50%));
                @include transition(
                    top .5s ease .05s,
                    left .5s ease .05s,
                    width .5s ease .05s,
                    height .5s ease .05s,
                    transform .5s ease .05s
                );
                will-change: top, left, width, height;

                .details-container {
                    @include transform(rotate(0));

                    img {
                        top: 20px;
                        max-width: 250px;
                        max-height: 100px;
                        @include transform(translateX(-50%));
                    }
                    .detailed-content {
                        opacity: 1;
                        pointer-events: all;
                        @include transition(opacity .3s ease .6s);
                    }
                }
                & + .experience-close {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: all;
                    @include transition(opacity .3s ease .5s);
                }
            }
        }
    }
}