@import '../../assets/css/variables.scss';

.resume-page {
    .skills-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .skill {
            text-align: center;

            &:not(:last-child) {
                margin-right: 50px;
            }
            img {
                height: 60px;
            }
            p {
                margin: 8px 0 0;
            }
        }
    }
    .divider {
        display: block;
        width: 50%;
        margin: 75px auto;
        border: none;
        color: $white;
        height: 2px;
        background: $dark_gray;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from($dark_gray), to($white));
    }
    .experiences-container {
        position: relative;
        margin-top: 50px;

        .experience {
            position: absolute;
        }
    }
}