.home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        text-align: center;
        font-family: 'BasilBold';
        font-weight: normal;
    }
    .subtitle {
        text-align: center;
        font-family: 'HelveticaNeueThin';
        font-weight: normal;
    }
}
