@font-face {
  font-family: 'BasilRegular';
  src: url("../../assets/fonts/BasilRegular.otf") format("opentype"); }

@font-face {
  font-family: 'BasilLight';
  src: url("../../assets/fonts/BasilLight.otf") format("opentype"); }

@font-face {
  font-family: 'BasilBold';
  src: url("../../assets/fonts/BasilBold.otf") format("opentype"); }

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url("../../assets/fonts/HelveticaNeue-Thin.otf") format("opentype"); }

@font-face {
  font-family: 'SoinSanNeueMedium';
  src: url("../../assets/fonts/SoinSansNeue-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'SoinSanNeueRoman';
  src: url("../../assets/fonts/SoinSansNeue-Roman.otf") format("opentype"); }

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  html *, body * {
    font-family: 'SoinSanNeueRoman';
    color: #222; }
