@import '../../assets/css/variables.scss';

.mobile-page {
    .intro {
        padding-top: 15px;
        text-align: center;

        .title {
            margin: 0;
            font-family: 'BasilLight';
            font-weight: normal;
        }
        .subtitle {
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 1rem;
            font-family: 'HelveticaNeueThin';
            font-weight: normal;
            line-height: 1;
            letter-spacing: $title_spacing;
        }
        @media screen and (min-width: 640px) {
            .title {
                font-size: 2.25rem;
            }
            .subtitle {
                font-size: 1.375rem;
            }
        }
    }
    .about-me {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        
        p {
            line-height: 1.5;
            margin: 0;
        }
        @media screen and (min-width: 640px) {
            max-width: 60%;
            margin: 30px auto 0;

            p {
                font-size: 1.25rem;
            }
        }
    }
    .contact-block {
        .mobile-button {
            margin: 20px auto;
        }
        @media screen and (min-width: 640px) {
            display: flex;
            justify-content: center;
            margin: 30px 0;
            
            .mobile-button {
                margin: 0;

                &:first-of-type {
                    margin-right: 40px;
                }
            }
        }
    }
    .mobile-button {
        display: block;
        width: 50%;
        max-width: 200px;
        margin: 20px auto 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 0.9375rem;
        line-height: 1;
        border-width: 2px;
        border-style: solid;
        -webkit-border-image: linear-gradient(#c2e59c, #64b3f4) 10;
        border-image: linear-gradient(#c2e59c, #64b3f4) 10;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;
        text-decoration: none;
        @include transition(all .3s ease);

        &.opposite {
            -webkit-border-image: linear-gradient(#64b3f4, #c2e59c) 10;
            border-image: linear-gradient(#64b3f4, #c2e59c) 10;
        }
        @media screen and (min-width: 640px) {
            margin-top: 30px;
        }
    }
}