@import '../../assets/css/variables.scss';

.footer-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
    height: 25px;
    @include transition(all .3s ease);

    p {
        font-size: 0.875rem;
        margin: 0;

        a {
            text-decoration: none;

            &:hover {
                color: $link_blue;
            }
        }
    }
}