.internal-link-component {
  position: fixed;
  width: 120px;
  height: 120px;
  top: -35px;
  left: -13px;
  box-shadow: -5px -5px 26px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  transition: transform 0.3s ease; }
  .internal-link-component:hover {
    -moz-transform: scale(1.1) translateX(2%);
    -o-transform: scale(1.1) translateX(2%);
    -ms-transform: scale(1.1) translateX(2%);
    -webkit-transform: scale(1.1) translateX(2%);
    transform: scale(1.1) translateX(2%); }
  .internal-link-component .inner-container {
    position: absolute;
    right: 5px;
    bottom: -2px;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .internal-link-component .inner-container img {
      width: 50px; }
    .internal-link-component .inner-container.mywork {
      right: 7px;
      bottom: -22px; }
      .internal-link-component .inner-container.mywork img {
        width: 50px;
        height: 60px; }
