@import '../../assets/css/variables.scss';

.internal-link-component {
    position: fixed;
    width: 120px;
    height: 120px;
    top: -35px;
    left: -13px;
    box-shadow: -5px -5px 26px;
    background-color: $white;
    border-radius: 50%;
    @include transition(transform .3s ease);

    &:hover {
        @include transform(scale(1.1) translateX(2%));
    }
    .inner-container {
        position: absolute;
        right: 5px;
        bottom: -2px;
        @include transform(translate(-50%, -50%));

        img {
            width: 50px;
        }
        &.mywork {
            right: 7px;
            bottom: -22px;
            
            img {
                width: 50px;
                height: 60px;
            }
        }
    }
}